codespell~=2.4.0
coverage~=7.2
doc8~=1.1.1
importlib-metadata~=8.0
mypy~=1.2
orjson~=3.8
pre-commit~=4.0
pytest-benchmark~=5.1.0
pytest-console-scripts~=1.4.0
pytest-cov~=6.0
pytest-recording~=0.13
pytest~=8.0
recommonmark~=0.7.1
requests-mock~=1.12
ruff==0.9.4
tomli~=2.0; python_version<'3.11'
types-python-dateutil>=2.8.19,<2.10.0
types-requests~=2.32.0
urllib3>=2.0,<2.3.0
